import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: white;
    font-family: Amatic SC ;
}
h1{
  background-image: linear-gradient(to bottom, rgb(100, 19, 187), rgb(87, 142, 187), rgb(59, 210, 195));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(80, 27, 226);
  font-weight:bold;
  font-size: 60px;
}
.metas{
    color: rgba(0, 202, 192, 0);
    font-we
    const tempoObjetivo4 = new Date("2023-10-05T00:00:00");ight: bold;
    font-siz
    const tempoObjetivo4 = new Date("2023-10-05T00:00:00");e: 50px;
}
.importancias{
    color: rgba(10, 1, 19, 0.007);
    font-weight: bold;
    font-size: 40px;
}
.prazos{
    color: rgb(1, 1, 19);
    font-weight: bold;
    font-size: 40px;
}
h3{
    color:black;
    font-weight: lighter;
    font-size: 30px;
}
